{{ define "main" }}
<section class="pt5 flex-ns items-center justify-center" style="background-image: linear-gradient(#40b4cd, #1774a6);">
  <div class="mw6 ph5 mb4">
    <img src="/images/PilotView.png" width="300" />
  </div>
  <div class="tc tl-ns ph3">
    <h1 class="f3 f1-l fw2 mb0 pb0 mt4 mt0-ns white">{{ .Title }}</h1>
    <h2 class="f5 f3-l fw1 mt0 lh-title white">{{ .Params.tagline }}</h2>
    <a href="#contact" class="f4 no-underline bg-white inline-flex items-center ba border-box pv3 ph4 br3 mb3" style="color: #1472a6">
      Learn More
    </a>
  </div>
</section>

{{ partial "features" . }}

<hr class="near-white w-75 w-50-ns" />

{{ partial "contact_form" . }}
{{ end }}
